<div class="container m-auto">
  <%= turbo_frame_tag "errors" %>
  <%= turbo_frame_tag "weather-report-card" %>
  <%= render "weather_report_card" %>
  <div class="forecast flex justify-center mt-20">
    <%= render "weather_reports/forecast", forecast: @weather_report.forecast %>
  </div>
</div>